 https://www.cs.cornell.edu/~cristian/Cornell_Movie-Dialogs_Corpus.html
 
 
This corpus contains a large metadata-rich collection of fictional conversations extracted from raw movie scripts:



- 220,579 conversational exchanges between 10,292 pairs of movie characters

- involves 9,035 characters from 617 movies

- in total 304,713 utterances

- movie metadata included:

    - genres

    - release year

    - IMDB rating

    - number of IMDB votes

    - IMDB rating

- character metadata included:

    - gender (for 3,774 characters)

    - position on movie credits (3,321 characters)

- see README.txt (included) for details

In [21]:
import os
import pandas as pd

In [22]:
def readFile(filename):
    filehandle = open(filename)
    print(filehandle.read())
    filehandle.close()

In [23]:
fileDir = os.path.dirname(os.path.realpath('__file__'))
print(fileDir)

C:\Users\DRB4\Documents\GitHub\Chatbots

In [68]:
movie_lines_text_file = "C:/Users/DRB4/OneDrive/Data/cornell_movie_dialogs_corpus/movie_lines.txt"
movie_lines_convo_file = "C:/Users/DRB4/OneDrive/Data/cornell_movie_dialogs_corpus/movie_conversations.txt"

In [71]:
with open(movie_lines_text_file, 'r') as f_movie_lines:
    data_line = f_movie_lines.read()
    
with open(movie_lines_convo_file, 'r') as f_movie_convo:
    data_conv = f_movie_convo.read()

In [72]:
print(data_line[0:1000])

L1045 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$+++ They do not!
L1044 +++$+++ u2 +++$+++ m0 +++$+++ CAMERON +++$+++ They do to!
L985 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$+++ I hope so.
L984 +++$+++ u2 +++$+++ m0 +++$+++ CAMERON +++$+++ She okay?
L925 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$+++ Let's go.
L924 +++$+++ u2 +++$+++ m0 +++$+++ CAMERON +++$+++ Wow
L872 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$+++ Okay -- you're gonna need to learn how to lie.
L871 +++$+++ u2 +++$+++ m0 +++$+++ CAMERON +++$+++ No
L870 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$+++ I'm kidding.  You know how sometimes you just become this "persona"?  And you don't know how to quit?
L869 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$+++ Like my fear of wearing pastels?
L868 +++$+++ u2 +++$+++ m0 +++$+++ CAMERON +++$+++ The "real you".
L867 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$+++ What good stuff?
L866 +++$+++ u2 +++$+++ m0 +++$+++ CAMERON +++$+++ I figured you'd get to the good stuff eventually.
L865 +++$+++ u

**TODO** -- *Import as DataFrame*
- Needs custom delimiters
- pd.read_csv can use custom delimiters, but counts everything more than one character or /s+ as regex
- Regex for +++$+++ uses backslashes

In [44]:
movie_line_df = pd.read_csv(movie_lines_text_file, delimiter = "\+\+\+\$\+\+\+")

D:\Dev\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [45]:
movie_line_df.head(10)

,L1045,u0,m0,BIANCA,They do not!
0,L1044,u2,m0,CAMERON,They do to!
1,L985,u0,m0,BIANCA,I hope so.
2,L984,u2,m0,CAMERON,She okay?
3,L925,u0,m0,BIANCA,Let's go.
4,L924,u2,m0,CAMERON,Wow
5,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.
6,L871,u2,m0,CAMERON,No
7,L870,u0,m0,BIANCA,I'm kidding. You know how sometimes you just...
8,L869,u0,m0,BIANCA,Like my fear of wearing pastels?
9,L868,u2,m0,CAMERON,"The ""real you""."

In [50]:
movie_line_df = pd.read_csv(movie_lines_text_file, sep = None, header=None, delimiter = "\+\+\+\$\+\+\+")
movie_line_df.head(10)

D:\Dev\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,0,1,2,3,4
0,L1045,u0,m0,BIANCA,They do not!
1,L1044,u2,m0,CAMERON,They do to!
2,L985,u0,m0,BIANCA,I hope so.
3,L984,u2,m0,CAMERON,She okay?
4,L925,u0,m0,BIANCA,Let's go.
5,L924,u2,m0,CAMERON,Wow
6,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.
7,L871,u2,m0,CAMERON,No
8,L870,u0,m0,BIANCA,I'm kidding. You know how sometimes you just...
9,L869,u0,m0,BIANCA,Like my fear of wearing pastels?

In [65]:
movie_line_df.columns = ['Line', 'User', 'Movie', 'Name', 'Line']

In [66]:
movie_line_df.head(10)

,Line,User,Movie,Name,Line
0,L1045,u0,m0,BIANCA,They do not!
1,L1044,u2,m0,CAMERON,They do to!
2,L985,u0,m0,BIANCA,I hope so.
3,L984,u2,m0,CAMERON,She okay?
4,L925,u0,m0,BIANCA,Let's go.
5,L924,u2,m0,CAMERON,Wow
6,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.
7,L871,u2,m0,CAMERON,No
8,L870,u0,m0,BIANCA,I'm kidding. You know how sometimes you just...
9,L869,u0,m0,BIANCA,Like my fear of wearing pastels?

In [67]:
# # o
len(movie_line_df['Movie'].unique())

617

In [73]:
print(data_conv[0:1000])

u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L194', 'L195', 'L196', 'L197']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L198', 'L199']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L200', 'L201', 'L202', 'L203']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L204', 'L205', 'L206']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L207', 'L208']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L271', 'L272', 'L273', 'L274', 'L275']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L276', 'L277']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L280', 'L281']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L363', 'L364']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L365', 'L366']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L367', 'L368']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L401', 'L402', 'L403']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L404', 'L405', 'L406', 'L407']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L575', 'L576']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L577', 'L578']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L662', 'L663']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L693', 'L694', 'L695']
u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L696', 'L697', 'L69

The conversations data helps chatbot know which lines work together

In [77]:
movie_convo_df = pd.read_csv(movie_lines_convo_file, sep = None, header=None, delimiter = "\+\+\+\$\+\+\+")
movie_convo_df.head(10)

D:\Dev\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

     0     1     2                                          3
0  u0    u2    m0            ['L194', 'L195', 'L196', 'L197']
1  u0    u2    m0                            ['L198', 'L199']
2  u0    u2    m0            ['L200', 'L201', 'L202', 'L203']
3  u0    u2    m0                    ['L204', 'L205', 'L206']
4  u0    u2    m0                            ['L207', 'L208']
5  u0    u2    m0    ['L271', 'L272', 'L273', 'L274', 'L275']
6  u0    u2    m0                            ['L276', 'L277']
7  u0    u2    m0                            ['L280', 'L281']
8  u0    u2    m0                            ['L363', 'L364']
9  u0    u2    m0                            ['L365', 'L366']